<% provide(:title, "Welcome") %>
<div class="center jumbotron">
</br></br></br></br></br></br></br>
<h1>Welcome to Booking Looking</h1>
<h2>
Book Online On Your Favorite Service Providers With Us.</br>Everytime, Anywhere!
</h2></br>
<%= link_to "Get Started!", 'sign_up', class: "btn btn-lg btn-primary" %>
</div>
